# Host
IP=127.0.0.1
PORT=8080
COOKIE_SECURE=

# UI
FRONTEND_URL=
# Redis
REDIS_URL=

# Database
DATABASE_URL=

# JWT
SECRET_KEY=
ACCESS_TOKEN_EXPIRATION=
REFRESH_TOKEN_EXPIRATION=

# Cloudinary
CLOUDINARY_URL=
